@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #1a2227;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
  background-color: #3498db;
  padding: 5px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8fb;
  width: 100%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.currency__block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  width: 100%;
}

.currencylist {
  padding: 5px 20px;
}

.currency {
  padding: 5px 20px;
  position: relative;
  background: #48a1ff;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  width: 100%;
  max-width: 200px;
}

.currency:hover {
  background-color: rgba(72, 161, 255, 0.9);
  transition: all 0.2s ease-out;
}

.close-button {
  position: absolute;
  text-align: center;
  top: -8px;
  right: -8px;
  width: 30px;
  height: 30px;
  font-size: 1.4rem;
  background: #f6a727;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
}

.close-button:hover {
  color: #2d2d2d;
  transition: all 0.2s ease-out;
}

.currency span {
  color: #2d2d2d;
  font-size: 2.2rem;
  padding: 10px;
  display: block;
}

input {
  text-align: center;
  height: 30px;
  font-size: 1.4rem;
  padding: 20px 0px 20px 20px;
  border: 2px solid #f6a727;
  border-radius: 5px;
}

input:disabled {
  cursor: not-allowed;
}

.input {
  margin: 20px 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  width: 100%;
  height: 100px;
  color: #91c6ff;
  -webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.29);
}

button {
  margin-top: 10px;
  padding: 10px 30px;
  background: transparent;
  border: 2px solid #91c6ff;
  font-size: 1.2rem;
  margin-bottom: 20px;
  cursor: pointer;
}

button:hover {
  background: rgba(245, 166, 35, 0.9);
  transition: all 0.2s ease-out;
}

button:disabled {
  cursor: not-allowed;
  background: transparent;
}

label {
  margin-right: 10px;
}

/* Media query for medium and large screens */

@media only screen and (min-width: 700px) {
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    padding: 0;
  }

  #app {
    flex-direction: column;
    width: 700px;
    max-width: 700px;
    height: 500px;
  }

  .currency__block {
    flex-direction: row;
  }

  .title {
    height: 250px;
  }

  .currency {
    padding: 30px 30px;
    width: 195px;
  }

  .currencylist {
    padding: 20px 20px;
  }

  .input {
    margin: 30px 0;
  }
}

/* Loader  */

.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f6a727;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {

  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {

  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}